<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0">
  <servlet>
    <servlet-name>RequestServlet</servlet-name>
    <servlet-class>com.itutry.RequestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AliceServlet</servlet-name>
    <servlet-class>com.itutry.AliceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BobServlet</servlet-name>
    <servlet-class>com.itutry.BobServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForwardCServlet</servlet-name>
    <servlet-class>com.itutry.ForwardCServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResponseServlet</servlet-name>
    <servlet-class>com.itutry.ResponseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OldServlet</servlet-name>
    <servlet-class>com.itutry.OldServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewServlet</servlet-name>
    <servlet-class>com.itutry.NewServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RequestServlet</servlet-name>
    <url-pattern>/request</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AliceServlet</servlet-name>
    <url-pattern>/alice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BobServlet</servlet-name>
    <url-pattern>/bob</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForwardCServlet</servlet-name>
    <url-pattern>/forward-c</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseServlet</servlet-name>
    <url-pattern>/response</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OldServlet</servlet-name>
    <url-pattern>/old</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewServlet</servlet-name>
    <url-pattern>/new</url-pattern>
  </servlet-mapping>
</web-app>
